.ActiveQuiz{
    padding: 20px;
    margin: 0 10px;
    border-radius: 5px;
    box-sizing:border-box;
    border: 2px solid white;
    text-align: left;
    color:white;
   margin-left: 0px;
}
.Question{
    display:flex;
    justify-content:space-between;
}