.AnswerItem{
    border: 1px solid white;
    border-radius:5px;
    list-style-type: none;
    margin-left:0px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;

}

.AnswerItem:hover{
    background: rgb(14,36,57);
background: linear-gradient(90deg, rgba(14,36,57,1) 16%, rgba(31,71,126,1) 71%);
transition: background .3s ease-in-out;
}

.AnswerItem.succed{
    background:rgba(161,240,69,.7);
}

.AnswerItem.error{
    background:rgba(240, 87, 108, 0.7);

}